<div class="grid">
  <!-- Purchase Sources -->
  <div class="col-12">
    <p-card styleClass="h-full">
      <ng-template pTemplate="title">
        <h2>Origen de Ventas</h2>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="flex justify-content-center align-items-center">
          <div class="chart-container" style="position: relative; height: 300px; width: 100%;">
            <p-chart type="pie" [data]="purchaseSourcesData" [options]="purchaseSourcesOptions"></p-chart>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>

  <!-- Message Usage by Plan -->
  <div class="col-12 mt-4">
    <p-card styleClass="h-full">
      <ng-template pTemplate="title">
        <h2>Uso de Mensajes por Plan</h2>
      </ng-template>
      <ng-template pTemplate="content">
        <p-table [value]="messageUsage" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-sm">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Plan</th>
              <th scope="col">Mensajes promedio por usuario</th>
              <th scope="col">Cantidad de usuarios</th>
              <th scope="col">Total de mensajes</th>
              <!-- <th scope="col">Tiempo promedio de uso</th>
              <th scope="col">% de límite utilizado</th> -->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-usage>
            <tr>
              <td>{{usage.planName}}</td>
              <td>{{usage.avgMessagesPerUser}}</td>
              <td>{{usage.userCount}}</td>
              <td>{{usage.totalMessages}}</td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </p-card>
  </div>
</div>