:host {
  display: block;
  padding: 1rem;
}

.chart-container {
  max-height: 300px;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.text-color-secondary {
  color: var(--text-color-secondary);
  font-size: 0.875rem;
}