<!-- Sección principal -->
<div class="px-2 py-1">
    <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-3 mb-1 p-1">
        <!-- Título y descripción -->
        <div class="col-6">
            <h1 class="text-2xl font-bold text-gray-900 mb-1 mt-1
          ">Usuarios</h1>
            <p class="text-sm text-gray-500 mb-1 mt-1">Gestiona los usuarios de la plataforma</p>
        </div>
        <!-- Botón de filtros -->
        <div class="col-6 grid place-items-center justify-content-end">
            <button pButton type="button" icon="pi pi-filter" label="Filtros"
                class="p-button-outlined p-button-sm flex-shrink-0 h-2rem" (click)="filterPanel.toggle($event)">
            </button>

            <!-- Panel de filtros -->
            <p-overlayPanel #filterPanel [style]="{ width: '20rem' }" [dismissable]="true">
                <div class="flex flex-column gap-3 p-3 text-sm">

                    <span class="font-medium text-base">Filtros</span>
                    <small class="text-color-secondary">Aplica filtros para refinar los resultados</small>

                    <!-- Buscador -->
                    <div>
                        <span class="text-sm text-color-secondary">Búsqueda</span>
                        <input pInputText type="text" class="w-full mt-1" placeholder="Buscar por nombre..."
                            [(ngModel)]="filters.name" />
                    </div>

                    <!-- Plan -->
                    <div class="flex flex-column gap-1">
                        <span class="text-sm text-color-secondary">Plan</span>
                        <div class="flex gap-2 flex-wrap">
                            <p-chip type="button" label="Elite" [removable]="false" (click)="toggleFilter('plan', 1)"
                                [class.bg-primary]="filters.plan === 1"></p-chip>
                            <p-chip type="button" label="Pro" [removable]="false" (click)="toggleFilter('plan', 2)"
                                [class.bg-primary]="filters.plan === 2"></p-chip>
                            <p-chip type="button" label="Demo" [removable]="false" (click)="toggleFilter('plan', 3)"
                                [class.bg-primary]="filters.plan === 3"></p-chip>
                        </div>
                    </div>

                    <!-- Estado -->
                    <div class="flex flex-column gap-1">
                        <span class="text-sm text-color-secondary">Estado</span>
                        <div class="flex gap-2">
                            <p-chip type="button" label="Activo" [removable]="false"
                                (click)="toggleFilter('estado', 'Activo')"
                                [class.bg-primary]="filters.estado === 'Activo'"></p-chip>
                            <p-chip type="button" label="Inactivo" [removable]="false"
                                (click)="toggleFilter('estado', 'Inactivo')"
                                [class.bg-primary]="filters.estado === 'Inactivo'"></p-chip>
                        </div>
                    </div>

                    <!-- Periodo -->
                    <div class="flex flex-column gap-1">
                        <span class="text-sm text-color-secondary">Periodo</span>
                        <div class="flex flex-wrap gap-2">
                            <p-chip type="button" *ngFor="let periodo of periodos" [label]="periodo.label"
                                [removable]="false" (click)="toggleFilter('periodo', periodo.value)"
                                [class.bg-blue-100]="filters.periodo === periodo.value">
                            </p-chip>
                        </div>
                    </div>

                    <!-- Acciones -->
                    <div class="flex justify-between mt-3">
                        <button pButton label="Limpiar" class="p-button-text p-button-sm"
                            (click)="clearFilters()"></button>
                        <button pButton label="Aplicar filtros" class="p-button-sm" (click)="applyFilters()"></button>
                    </div>

                </div>
            </p-overlayPanel>
        </div>

    </div>

    <!-- Card contenedor -->
    <div class="bg-white shadow-sm border border-gray-200 rounded-lg p-5 border-1 border-round-xl border-gray-200">
        <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4 mb-3">
            <!-- Título y subtítulo -->
            <div class="col-6">
                <h2 class="text-xl font-semibold text-gray-900 mb-1 mt-1">Usuarios registrados</h2>
                <p class="text-sm text-gray-500 mb-1 mt-1">Listado de todos los usuarios de la plataforma</p>
            </div>

            <!-- Buscador -->

            <div class="flex align-items-center col-6 justify-content-end">
                <p-inputgroup class="w-6">
                    <p-inputgroup-addon>
                        <i class="pi pi-search"></i>
                    </p-inputgroup-addon>
                    <input type="text" pInputText placeholder="Buscar por nombre..." class="w-18rem"
                        (input)="onSearchChange($event)" />
                </p-inputgroup>
            </div>

        </div>

        <p-skeleton *ngIf="myUsers.isLoading()" height="3rem" class="mb-3"></p-skeleton>

        <!-- Skeleton tabla -->
        <div *ngIf="myUsers.isLoading()" class="border-1 border-300 border-round p-3">
            <div *ngFor="let row of [1,2,3,4,5]"
                class="flex justify-content-between align-items-center py-2 border-bottom-1 border-gray-200">
                <p-skeleton width="3rem"></p-skeleton> <!-- ID -->
                <p-skeleton width="10rem"></p-skeleton> <!-- Usuario -->
                <p-skeleton width="6rem"></p-skeleton> <!-- Empresa -->
                <p-skeleton width="6rem"></p-skeleton> <!-- Plan -->
                <p-skeleton width="4rem"></p-skeleton> <!-- Uso -->
                <p-skeleton width="5rem"></p-skeleton> <!-- Estado -->
                <p-skeleton width="7rem"></p-skeleton> <!-- Registro -->
                <p-skeleton shape="circle" size="1.5rem"></p-skeleton> <!-- Acciones -->
            </div>
        </div>

        <!-- Tabla estilizada -->
        <p-table *ngIf="!myUsers.isLoading()" #dt [value]="(myUsers.data$ | async) || []" [paginator]="false" [rows]="5"
            responsiveLayout="scroll"
            [globalFilterFields]="['user_name', 'user_email', 'company_name', 'plan_name', 'status']" class="text-sm">
            <!-- Encabezado -->
            <ng-template pTemplate="header">
                <tr class="text-gray-500 text-sm border-b">
                    <th class="text-center tr_color">ID</th>
                    <th class="text-center tr_color">Usuario</th>
                    <th class="text-center tr_color">Empresa</th>
                    <th class="text-center tr_color">Plan</th>
                    <th class="text-center tr_color">Uso</th>
                    <th class="text-center tr_color">Estado</th>
                    <th class="text-center tr_color">Registro</th>
                    <th class="text-right tr_color">Acciones</th>
                </tr>
            </ng-template>

            <!-- Cuerpo -->
            <ng-template pTemplate="body" let-user>
                <tr class="border-b hover:bg-gray-50">
                    <td class="text-center">{{ user.user_id }}</td>
                    <td class="text-center">
                        <div class="font-semibold text-gray-900 capitalize">{{ user.user_name }}</div>
                        <div class="text-xs text-gray-500">{{ user.user_email }}</div>
                    </td>
                    <td class="text-center">{{ user.company_name || 'B2C' }}</td>
                    <td class="text-center">
                        <span
                            class="text-xs font-semibold px-2 py-1 rounded-full border-1 border-round-xl border-white-200"
                            [ngClass]="{
                  'bg-purple-100 text-purple-700': user.plan_name === 'Plan Elite',
                  'bg-blue-100 text-blue-700': user.plan_name === 'Plan Pro',
                  'bg-gray-200 text-gray-700': user.plan_name === 'Plan Demo'
                }">
                            {{ user.plan_name }}
                        </span>
                    </td>
                    <td class="text-center">{{ user.messages_used }} msgs</td>
                    <td class="text-center">
                        <span
                            class="text-xs font-semibold px-2 py-1 rounded-full border-1 border-round-xl border-white-200"
                            [ngClass]="{
                  'bg-green-100 text-green-700': user.status,
                  'bg-red-100 text-red-700': !user.status
                }">
                            {{ user.status ? 'Activo' : 'Inactivo' }}
                        </span>
                    </td>
                    <td class="text-center">{{ user.registration_date | date: 'yyyy-MM-dd' }}</td>
                    <td class="text-right">
                        <button pButton type="button" icon="pi pi-ellipsis-v"
                            class="p-button-outlined p-button-sm flex-shrink-0 h-2rem"
                            (click)="actionPanel.toggle($event)">
                        </button>

                        <!-- Panel de Acciones -->
                        <p-overlayPanel #actionPanel [style]="{ width: '10rem' }" [dismissable]="true">

                            <p class="text-xs font-semibold text-900 px-2 mb-2">Acciones</p>
                            <hr>
                            <div class="p-2 cursor-pointer hover:bg-gray-100 border-round flex align-items-center gap-2 text-sm"
                                (click)="openUserDetail(user)">
                                <i class="pi pi-eye text-600"></i>
                                <span class="text-sm">Ver detalles</span>
                            </div>
                            <div class="p-2 cursor-pointer hover:bg-gray-100 border-round flex align-items-center gap-2 text-sm"
                                (click)="viewFiles(user)">
                                <i class="pi pi-clone text-600"></i>
                                <span class="text-sm">expedientes</span>
                            </div>
                            <div class="border-top-1 my-2 border-gray-200"></div>
                            <div class="p-2 cursor-pointer hover:bg-red-50 border-round flex align-items-center gap-2 text-sm"
                                (click)="enabledUser(user)">
                                <i class="pi pi-exclamation-triangle text-red-500"></i>
                                <span class="text-red-600 font-medium">Desactivar</span>
                            </div>
                        </p-overlayPanel>

                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rowsPerPage"
            [totalRecords]="myUsers.totalUsers$ | async " [rowsPerPageOptions]="[5, 10, 20, 30]" />

    </div>
</div>


<p-dialog [(visible)]="displayModal" [modal]="true" [closable]="true" [dismissableMask]="true"
    [style]="{ width: '420px' }" header="Detalles del usuario" [contentStyle]="{ 'padding-bottom': '1.5rem' }">

    <!-- Subtítulo -->
    <p class="text-sm text-color-secondary ">Información completa del usuario</p>

    <!-- Avatar y nombre -->
    <div class="flex flex-column align-items-center mb-4 align-items-center col-12 justify-content-center">
        <i class="pi pi-user text-6xl text-500 mb-3 img"></i>
        <h3 class="text-lg font-bold text-800 mb-2">
            {{ user?.user_name }}
        </h3>

        <!-- Estado y plan -->
        <div class="flex justify-content-center flex-wrap gap-2">
            <span class="text-xs font-medium px-2 py-1 border-round" [ngClass]="{
          'bg-green-100 text-green-800': user?.status === true,
          'bg-red-100 text-red-800': user?.status === false
        }">
                {{ user?.status ? 'Activo' : 'Inactivo' }}
            </span>

            <span class="text-xs font-medium px-2 py-1 border-round" [ngClass]="{
          'bg-purple-100 text-purple-700': user?.plan_name === 'Plan Elite',
          'bg-blue-100 text-blue-700': user?.plan_name === 'Plan Pro',
          'bg-gray-200 text-gray-700': user?.plan_name === 'Plan Demo'
        }">
                {{ user?.plan_name?.replace('Plan ', '') }}
            </span>
        </div>
    </div>

    <!-- Información general -->
    <div class="flex flex-column gap-3 text-sm text-800 px-1">
        <div class="flex align-items-start gap-2">
            <i class="pi pi-envelope mt-1 text-500"></i>
            <div>
                <p class="font-semibold m-0">Email</p>
                <p class="m-0 text-700">{{ user?.user_email }}</p>
            </div>
        </div>

        <div class="flex align-items-start gap-2">
            <i class="pi pi-briefcase mt-1 text-500"></i>
            <div>
                <p class="font-semibold m-0">Empresa</p>
                <p class="m-0 text-700">{{ user?.company_name || 'B2C' }}</p>
            </div>
        </div>

        <div class="flex align-items-start gap-2">
            <i class="pi pi-calendar mt-1 text-500"></i>
            <div>
                <p class="font-semibold m-0">Fecha de registro</p>
                <p class="m-0 text-700">{{ user?.registration_date | date: 'yyyy-MM-dd' }}</p>
            </div>
        </div>

        <div class="flex align-items-start gap-2">
            <i class="pi pi-comments mt-1 text-500"></i>
            <div>
                <p class="font-semibold m-0">Uso de mensajes</p>
                <p class="m-0 text-700">{{ user?.messages_used }} mensajes</p>
            </div>
        </div>
    </div>

</p-dialog>

<app-file-user
  *ngIf="display"
  [sessionData]="selectedSession"
  [display]="display"
  (closeModal)="onCloseModal()">
</app-file-user>


