<header
    class="flex align-items-center justify-content-between px-4 py-2 bg-white border-bottom-1 border-gray-200 h-4rem">
    <div class="flex align-items-center">
    </div>
    <div class="flex align-items-center">
        <div>
            <button pButton type="button" class="p-button-text flex align-items-center"
                (click)="userMenu.toggle($event)">
                <p-avatar label="A" styleClass="mr-2" size="normal"></p-avatar>
                <div class="flex flex-column align-items-start mr-2">
                    <span class="text-sm font-medium">Admin</span>
                    <span class="text-xs text-gray-500">Super Admin</span>
                </div>
                <i class="pi pi-angle-down"></i>
            </button>

            <p-overlayPanel #userMenu>
                <div style="min-width: 240px">
                  <div class="flex align-items-center p-3 border-bottom-1 border-gray-200">
                    <p-avatar label="A" styleClass="mr-2"></p-avatar>
                    <div class="flex flex-column">
                      <span class="font-medium">Admin</span>
                      <span class="text-xs text-gray-500">admin&#64;example.com</span>
                    </div>
                  </div>
                  
                  <p-menu [model]="items" styleClass="border-none w-full"></p-menu>
                </div>
            </p-overlayPanel>

        </div>
    </div>
</header>