<div class="grid mt-4">
    <div class="col-12 lg:col-12">
        <div class="bg-white border-round shadow-1">
            <div class="row flex">
                <div class="p-3 col-6">
                    <h2 class="text-base font-medium m-0">Métricas de Usuarios</h2>
                </div>
                <div class="p-3 col-6 text-end">
                    <button type="button" pButton label="Filtros" icon="pi pi-filter"
                        (click)="op.toggle($event)"></button>

                    <p-overlayPanel #op [dismissable]="true" styleClass="p-p-4">

                        <p-toggleButton [(ngModel)]="mostrarSemana" onLabel="Semana" offLabel="Mes"
                            onIcon="pi-calendar-week" offIcon="pi pi-calendar" styleClass="mb-3 w-full">
                        </p-toggleButton>

                        <div style="width: 320px;">
                            <h3 *ngIf="mostrarSemana">Interacciones Semana</h3>
                            <div *ngIf="mostrarSemana"
                                style="position: relative; width: 300px; height: 36px; margin: 0 auto;">
                                <div [style.left.%]="calcularWeek(rangeValuesWeek[0])"
                                    style="position: absolute; top: 0; transform: translateX(-50%); font-weight: bold;">
                                    {{ rangeValuesWeek[0] }}
                                </div>
                                <div [style.left.%]="calcularWeek(rangeValuesWeek[1])"
                                    style="position: absolute; top: 0; transform: translateX(-50%); font-weight: bold;">
                                    {{ rangeValuesWeek[1] }}
                                </div>
                                <p-slider [(ngModel)]="rangeValuesWeek" [range]="true"
                                    [style]="{'width':'300px', 'position':'absolute', 'bottom':'0', 'left':'50%', 'transform':'translateX(-50%)'}"></p-slider>
                            </div>

                            <h3 *ngIf="!mostrarSemana" class="mt-4">Interacciones Mes</h3>
                            <div *ngIf="!mostrarSemana"
                                style="position: relative; width: 300px; height: 36px; margin: 0 auto;">
                                <div [style.left.%]="calcularMonth(rangeValuesMonth[0])"
                                    style="position: absolute; top: 0; transform: translateX(-50%); font-weight: bold;">
                                    {{ rangeValuesMonth[0] }}
                                </div>
                                <div [style.left.%]="calcularMonth(rangeValuesMonth[1])"
                                    style="position: absolute; top: 0; transform: translateX(-50%); font-weight: bold;">
                                    {{ rangeValuesMonth[1] }}
                                </div>
                                <p-slider [(ngModel)]="rangeValuesMonth" [range]="true"
                                    [style]="{'width':'300px', 'position':'absolute', 'bottom':'0', 'left':'50%', 'transform':'translateX(-50%)'}"></p-slider>
                            </div>

                            <button pButton label="Aplicar filtro" class="mt-4"
                                (click)="aplicarFiltro(); op.hide()"></button>
                        </div>
                    </p-overlayPanel>
                </div>
            </div>

            <div class="p-3">
                <p-table [value]="users" styleClass="p-datatable-sm">
                    <ng-template pTemplate="header">
                        <tr>
                            <th scope="col">Usuario</th>
                            <th scope="col">Contacto</th>
                            <th scope="col">Plan</th>
                            <th scope="col">Fecha inicio</th>
                            <th scope="col" class="text-center">Interacciones semana</th>
                            <th scope="col" class="text-center">Interacciones mes</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr>
                            <td>{{ user.name }}</td>
                            <td>
                                <div class="flex flex-column">
                                    <span class="mb-1">{{ user.email }}</span>
                                    <span class="text-xs text-gray-500">{{ user.phone }}</span>
                                </div>
                            </td>
                            <td>{{ user.plan }}</td>
                            <td>{{ user.fecha_inicio | date:'yyyy-MM-dd' }}</td>
                            <td class="text-center">{{ user.interacciones_semanales }}</td>
                            <td class="text-center">{{ user.interacciones_mensuales }}</td>
                            <td>
                                <ng-container *ngIf="user.estado">
                                    <p-tag [value]="user.estado" [severity]="getStatusSeverity(user.estado)"
                                        [rounded]="true"></p-tag>
                                </ng-container>

                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rowsPerPage"
                [totalRecords]="totalUser"  />
        </div>
    </div>
</div>