<div class="flex justify-content-between align-items-center mb-3">
  <h1 class="text-xl font-medium m-0">{{ title }}</h1>
  <!-- <button 
      pButton 
      icon="pi pi-download" 
      label="Exportar Datos" 
      class="p-button-outlined"
      (click)="onExport()">
    </button> -->
</div>



<app-metrics-filter (periodChange)="onPeriodChange($event)" [custom]="metricFilter"></app-metrics-filter>

<molecule-tabs (activeTabChange)="activeTabType($event)" [tabs]="tabs" [(activeTab)]="activeTab"></molecule-tabs>

<!-- Skeleton alerts-->
<molecule-chart-skeleton-alerts
  *ngIf="activeTab === 'alerts' && loadingAlerts"></molecule-chart-skeleton-alerts>
<!-- Skeleton Users-->
<molecule-chart-skeleton-users
  *ngIf="activeTab === 'users' && loadingUser"></molecule-chart-skeleton-users>

<app-metrics-tab-general *ngIf="activeTab === 'general'" [metrics]="metrics"></app-metrics-tab-general>
<app-metrics-tab-alerts *ngIf="activeTab === 'alerts' && metricalerts && !loadingAlerts"
  [metrics]="metricalerts"></app-metrics-tab-alerts>
<app-metrics-tab-users *ngIf="activeTab === 'users' && metricaUsers && !loadingUser" (page_user)="pageUser($event)"
  [metrics]="metricaUsers"></app-metrics-tab-users>
<app-metrics-tab-advanced *ngIf="activeTab === 'advanced'" [metrics]="metrics"></app-metrics-tab-advanced>