<div class="flex justify-content-between align-items-center mb-3">
  <h1 class="text-xl font-medium m-0">{{ title }}</h1>
</div>



<app-metrics-filter (periodChange)="onPeriodChange($event)" [custom]="metricFilter"></app-metrics-filter>

<molecule-tabs (activeTabChange)="activeTabType($event)" [tabs]="tabs" [(activeTab)]="activeTab"></molecule-tabs>

<!-- Skeleton alerts-->
<molecule-chart-skeleton-alerts
  *ngIf="activeTab === 'alerts' && loadingAlerts"></molecule-chart-skeleton-alerts>
<!-- Skeleton Users-->
<molecule-chart-skeleton-users
  *ngIf="activeTab === 'users' && loadingUser"></molecule-chart-skeleton-users>

  <molecule-chart-skeleton-users-grafica
  *ngIf="activeTab === 'users' && loadingUserGrafica"></molecule-chart-skeleton-users-grafica>

  <!-- Skeleton avance-->
<molecule-chart-skeleton-users
*ngIf="activeTab === 'advanced' && loadingAvance"></molecule-chart-skeleton-users>

<app-metrics-tab-general *ngIf="activeTab === 'general'" [metrics]="metrics"></app-metrics-tab-general>
<app-metrics-tab-alerts *ngIf="activeTab === 'alerts' && metricalerts && !loadingAlerts"
  [metrics]="metricalerts"></app-metrics-tab-alerts>
<app-metrics-tab-users *ngIf="activeTab === 'users' && metricaUsers && !loadingUser" [page_actual]="page_actual" (filters)="filters($event)" (page_user)="pageUser($event)"
  [metrics]="metricaUsers" ></app-metrics-tab-users>
<app-metrics-tab-users-graficas *ngIf="activeTab === 'users' && metricaUsersGraficas && !loadingUserGrafica"  (page_user)="pageUser($event)"
  [metricsGraficas]="metricaUsersGraficas"></app-metrics-tab-users-graficas>
<app-metrics-tab-advanced *ngIf="activeTab === 'advanced' && metricsAvance && !loadingAvance" [metrics]="metricsAvance"></app-metrics-tab-advanced>