<div 
  role="button"
  class="p-3 border-round border-1 surface-border cursor-pointer transition-colors transition-duration-150"
  [ngClass]="{
    '': !selected,
    'bg-primary-50 border-primary': selected
  }"
  [ngStyle]="{'min-height': '160px' }"
  (click)="selectFile()">
  <div class="flex justify-content-between align-items-center mb-2">
    <h3 class="text-base font-semibold m-0">{{ file.user_name }} - 
        <span 
          class="px-2 py-0 text-sm font-medium border-round"
          [ngClass]="{
            'bg-green-100 text-green-700': file.name === 'Plan Elite',
            'bg-blue-100 text-blue-700': file.name === 'Plan Pro',
            'bg-gray-200 text-gray-700': file.name === 'Plan Demo'
          }"
        >
          {{ file.name }}
      </span>
    </h3>
    <span class="text-xs px-2 py-1 border-round"
          [ngClass]="{
            'bg-green-50 text-green-600': file.stripeStatus === 'active',
            'bg-yellow-50 text-yellow-600': file.stripeStatus === 'pending'
          }">
      {{ file.stripeStatus }}
    </span>
  </div>
  <div class="text-sm text-color-secondary mb-2 flex align-items-center gap-1">
    <i class="pi pi-calendar"></i> {{ file.weekStart | date: 'dd/MM/yyyy' }} - {{ file.weekEnd | date: 'dd/MM/yyyy' }}
  </div>
  <div class="text-sm mb-2 line-height-3 overflow-hidden text-overflow-ellipsis" 
       style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    {{ file.summary }}
  </div>
  <div class="flex flex-wrap gap-2">
    <p-tag *ngFor="let tag of file.mentalStateTags.slice(0,2)" 
            [value]="tag" 
            [severity]="getTagSeverity(tag)"
            [style]="{'height': '20px', 'font-size': '0.75rem'}">
    </p-tag>
    <span *ngIf="file.mentalStateTags.length > 2" 
          class="text-sm text-color-secondary">
      ...
    </span>
  </div>
</div>